.sideBar
  .sideHeader
    .sideHeader__topItem
      %p.sideHeader__topItem__name
        = current_user.name
      %ul.sideHeader__topItem__menu
        %li.sideHeader__topItem__newGroup
          = link_to new_group_path, class: "btnNewGroup" do
            =icon('far', 'edit')
        %li.sideHeader__topItem__editUser
          = link_to edit_user_path(current_user), class: "btnEditUser"do
            =icon('fas', 'cog')
  .groups
    - current_user.groups.each do |group|
      .group
        = link_to group_messages_path(group) do
          .group__groupName
            = group.name
          .group__latestMessage
            = group.show_last_message